body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px 0;
    color: cornflowerblue;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

        nav ul li a {
            color: gray;
            text-decoration: none;
        }

            nav ul li a:hover {
                text-decoration: underline;
            }

.container {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
